extends ../pug/layout.pug

append config
  -
    currentTitle = 'Apple eCommerce'
    currentDescription = 'Website'
    currentUrl = 'index.html'

block header

block content
  section.iphone-12#iphone-12
    +logo('#')
      i.fab.fa-apple

    nav.navbar
      a(class='navbar__link', href='#iphone-12') iPhone12
      a(class='navbar__link', href='#mac-book') MacBook Air
      a(class='navbar__link', href='#watch') Watch
      a(class='navbar__link', href='#airpods') AirPods
    ///.navbar

    .cube__wrapper
      .cube
        .cube__front-side
          img(src='img/iphone.png', alt='iPhone 12')
        .cube__back-side
          i.fab.fa-apple

      .cube__controls
        a(href='#')
          i.fas.fa-arrow-up.top-x-control

        a(href='#')
          i.fas.fa-arrow-down.bottom-x-control

        a(href='#')
          i.fas.fa-arrow-left.left-y-control

        a(href='#')
          i.fas.fa-arrow-right.right-y-control

        a(href='#')
          i.fas.fa-arrow-down.top-z-control

        a(href='#')
          i.fas.fa-arrow-up.bottom-z-control
      ///.cube__controls

    ///.cube

    .banner
      h1 Apple eCommerce
      h2 &#8592; Best Gift
      p "Creativity is just connecting things."
      span - Steve Jobs
      +btn('Buy Now')

    .iphone-12__slideshow
  ///.iphone-12
