extends ../pug/layout.pug

append config
  -
    currentTitle = 'Apple eCommerce'
    currentDescription = 'Website'
    currentUrl = 'index.html'

block header

block content
  section.iphone-12#iphone-12
    +logo('#')
      i.fab.fa-apple

    nav.navbar
      a(class='navbar__link', href='#iphone-12') iPhone12
      a(class='navbar__link', href='#macbook') MacBook Air
      a(class='navbar__link', href='#watch') Watch
      a(class='navbar__link', href='#airpods') AirPods
    ///.navbar

    .cube__wrapper
      .cube
        .cube__front-side
          +picture({
            'img': 'iphone',
            'alt': 'iPhone 12',
            'lg': false,
            'md': true,
            'ext': 'png'
          })
        .cube__back-side
          i.fab.fa-apple

      .cube__controls
        a.top-x-control(href='#')
          i.fas.fa-arrow-up

        a.bottom-x-control(href='#')
          i.fas.fa-arrow-down

        a.left-y-control(href='#')
          i.fas.fa-arrow-left

        a.right-y-control(href='#')
          i.fas.fa-arrow-right

        a.top-z-control(href='#')
          i.fas.fa-arrow-down

        a.bottom-z-control(href='#')
          i.fas.fa-arrow-up
      ///.cube__controls

    ///.cube

    .banner
      h1 Apple eCommerce
      h2 &#8592; Best Gift
      p "Creativity is just connecting things."
      span - Steve Jobs
      +btn('Buy Now')

    .iphone-12__slideshow
  ///.iphone-12

  section.iphones
    h2.iphones__heading iPhone 12

    .iphones__images
      +picture({
        'img': 'iphones-01',
        'alt': 'iPhones 12',
        'lg': false,
        'md': true,
        'ext': 'png'
      })
      +picture({
        'img': 'iphones-02',
        'alt': 'iPhones 12',
        'lg': false,
        'md': true,
        'ext': 'png'
      })

    .iphones__buttons
      a.iphones__btn(href='#')
        span Learn More
      a.iphones__btn(href='#')
        span Shop
  ///.iphones

  section.macbook#macbook
    h2.macbook__heading MacBook Air

    .macbook__content
      +picture({
        'img': 'macbook-01',
        'alt': 'MacBook Air screen',
        'lg': false,
        'md': false,
        'ext': 'png'
      }).macbook__img-1

      +picture({
        'img': 'macbook-02',
        'alt': 'MacBook Air keyboard',
        'lg': false,
        'md': false,
        'ext': 'png'
      }).macbook__img-2

      .macbook__loading-wrapper
        .macbook__loading
          i.fab.fa-apple
          .macbook__progress-bar

      .macbook__info
        h3.macbook__info-heading Light. Speed.
        p.macbook__price Starting at $999
        +btn('Buy Now').macbook__btn

    ///.macbook__content
  ///.macbook

  section.watches
    .watches__wrapper
      .watches__bands
        +picture({
          'img': 'watch-band-01',
          'alt': 'Watch band',
          'lg': false,
          'md': false,
          'ext': 'jpg'
        }).watches__band-img

        +picture({
          'img': 'watch-band-02',
          'alt': 'Watch band',
          'lg': false,
          'md': false,
          'ext': 'jpg'
        }).watches__band-img

        +picture({
          'img': 'watch-band-03',
          'alt': 'Watch band',
          'lg': false,
          'md': false,
          'ext': 'jpg'
        }).watches__band-img

        +picture({
          'img': 'watch-band-04',
          'alt': 'Watch band',
          'lg': false,
          'md': false,
          'ext': 'jpg'
        }).watches__band-img

        +picture({
          'img': 'watch-band-05',
          'alt': 'Watch band',
          'lg': false,
          'md': false,
          'ext': 'jpg'
        }).watches__band-img

        +picture({
          'img': 'watch-band-06',
          'alt': 'Watch band',
          'lg': false,
          'md': false,
          'ext': 'jpg'
        }).watches__band-img

        +picture({
          'img': 'watch-band-07',
          'alt': 'Watch band',
          'lg': false,
          'md': false,
          'ext': 'jpg'
        }).watches__band-img

        +picture({
          'img': 'watch-band-08',
          'alt': 'Watch band',
          'lg': false,
          'md': false,
          'ext': 'jpg'
        }).watches__band-img

        +picture({
          'img': 'watch-band-09',
          'alt': 'Watch band',
          'lg': false,
          'md': false,
          'ext': 'jpg'
        }).watches__band-img
      ///.watches__bands

      .watches__cases
        +picture({
          'img': 'watch-case-01',
          'alt': 'Watch case',
          'lg': false,
          'md': false,
          'ext': 'png'
        }).watches__case-img

        +picture({
          'img': 'watch-case-02',
          'alt': 'Watch case',
          'lg': false,
          'md': false,
          'ext': 'png'
        }).watches__case-img

        +picture({
          'img': 'watch-case-03',
          'alt': 'Watch case',
          'lg': false,
          'md': false,
          'ext': 'png'
        }).watches__case-img

        +picture({
          'img': 'watch-case-04',
          'alt': 'Watch case',
          'lg': false,
          'md': false,
          'ext': 'png'
        }).watches__case-img

        +picture({
          'img': 'watch-case-05',
          'alt': 'Watch case',
          'lg': false,
          'md': false,
          'ext': 'png'
        }).watches__case-img

        +picture({
          'img': 'watch-case-06',
          'alt': 'Watch case',
          'lg': false,
          'md': false,
          'ext': 'png'
        }).watches__case-img

        +picture({
          'img': 'watch-case-07',
          'alt': 'Watch case',
          'lg': false,
          'md': false,
          'ext': 'png'
        }).watches__case-img

        +picture({
          'img': 'watch-case-08',
          'alt': 'Watch case',
          'lg': false,
          'md': false,
          'ext': 'png'
        }).watches__case-img

        +picture({
          'img': 'watch-case-09',
          'alt': 'Watch case',
          'lg': false,
          'md': false,
          'ext': 'png'
        }).watches__case-img
      ///.watches__cases

    a.watches__control.watches__control--top(href='#')
      i.fas.fa-angle-up
    a.watches__control.watches__control--right(href='#')
      i.fas.fa-angle-right
    a.watches__control.watches__control--bottom(href='#')
      i.fas.fa-angle-down
    a.watches__control.watches__control--left(href='#')
      i.fas.fa-angle-left

    +btn('Buy Now').watches__btn(href='#')
  ///.watches

  section.airpods#airpods
    .airpods__wrapper
      h2.airpods__heading AirPods

      +picture({
        'img': 'airpods-01',
        'alt': 'AirPods',
        'lg': false,
        'md': true,
        'ext': 'png'
      })
      +picture({
        'img': 'airpods-02',
        'alt': 'AirPods',
        'lg': false,
        'md': true,
        'ext': 'png'
      })

      .airpods__buttons
        +btn('Learn More')(href='#')
        +btn('Buy')(href='#')
  ///.airpods
