extends ../pug/layout.pug

append config
  -
    currentTitle = 'Apple eCommerce'
    currentDescription = 'Website'
    currentUrl = 'index.html'

block header

block content
  section.iphone-12#iphone-12
    +logo('#')
      i.fab.fa-apple

    nav.navbar
      a(class='navbar__link', href='#iphone-12') iPhone12
      a(class='navbar__link', href='#mac-book') MacBook Air
      a(class='navbar__link', href='#watch') Watch
      a(class='navbar__link', href='#airpods') AirPods
    ///.navbar

    .banner
      h1 Apple eCommerce
      h2 &#8592; Best Gift
      p "Creativity is just connecting things."
      span - Steve Jobs
      +btn('Buy Now')
  ///.iphone-12
