// В этом файле должны быть стили для БЭМ-блока macbook, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.macbook {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 15rem 0;

  clip-path: polygon(68% 0, 100% 0, 100% 97%, 38% 100%, 0 100%, 0 3%);
  background-color: var(--black-color);

  &__heading {
    margin: 0;
    margin-bottom: 15rem;

    font-size: 10rem;
    font-weight: 200;
    color: var(--primary-color);

    @media (max-width: 550px) {
      font-size: 8rem;

      @media (max-width: 450px) {
        font-size: 6rem;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80%;
    perspective: 1000rem;

    @media (max-width: 900px) {
      width: 90%;
    }

    img {
      width: inherit;
    }
  }

  &__img-1 {
    transform: rotateX(-80deg);
    transform-origin: bottom;

    .change & {
      transform: rotateX(0);
      transition: transform $transition-time*6 linear;
    }
  }

  &__loading-wrapper {
    position: absolute;
    z-index: -1;
    top: 5%;
    width: 57%;
    max-width: 840px;
    height: 81%;

    opacity: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/macbook-desktop.webp);
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: $screen-xs) {

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/macbook-desktop@2x.webp);
        background-position: center;
        background-repeat: no-repeat;

        .no-webp & {
          background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/macbook-desktop@2x.jpg);
          background-position: center;
          background-repeat: no-repeat;
        }
      }

      .no-webp & {
        background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/macbook-desktop.jpg);
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    @media (max-width: 900px) {
      width: 77%;
    }

    .change & {
      opacity: 1;
      transition: opacity $transition-time*4 4s;
    }
  }

  &__loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: var(--black-color);

    .change & {
      opacity: 0;
      transition: opacity $transition-time*2 6s;
    }

    i {
      margin-bottom: 2rem;
      font-size: 10rem;
      color: var(--white-color);

      @media (max-width: 900px) {
        font-size: 6rem;
      }
    }
  }

  &__info {
    position: absolute;
    width: 70rem;

    text-align: center;
    opacity: 0;

    @media (max-width: 450px) {
      width: 40rem;
    }

    .change & {
      opacity: 1;
      transition: opacity $transition-time*2 7s;
    }
  }

  &__info-heading {
    margin: 0;

    font-size: 6rem;
    font-weight: 400;
    color: var(--primary-color);

    @media (max-width: 550px) {
      font-size: 5rem;

      @media (max-width: 450px) {
        font-size: 3rem;
      }
    }
  }

  &__price {
    margin: 3rem 0;

    font-size: 2.5rem;
    font-weight: 200;

    @media (max-width: 450px) {
      font-size: 2rem;
      font-weight: 300;
    }
  }

  &__btn {
    width: 25rem;
    height: 5rem;
    border-radius: 0.5rem;

    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    color: var(--primary-color);

    box-shadow: 0.1rem 0.1rem 0.1rem #fff, -0.1rem -0.1rem 0.1rem #fff;
    background-image: linear-gradient(#ddd, #fff);
    cursor: pointer;

    @media (max-width: 550px) {
      width: 15rem;
      height: 3rem;
      padding: 0;
      font-size: 1.3rem;
    }
  }

  &__progress-bar {
    position: relative;
    width: 22rem;
    height: 0.3rem;
    border-radius: 5rem;

    background-color: #888;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;

      background-color: var(--white-color);

      .change & {
        width: 100%;
        transition: width $transition-time*4 4s;
      }
    }
  }
}
